h1 {
    color: #ff0000;
    /* Change the font-size to 40px */
    font-size: 40px;
    
    /* Change the font-family to serif */
    font-family: serif;
    
    /* Change the background-color to #f3f372 */
    background-color: #f3f372;

    /* Change the height to 80px */
    height: 80px;

    /* Change the width to 200px */
    width: 200px;

  }
  
  p {
    color: #0000ff;
    /* Change the font-size to 20px */
    font-size: 20px;
    
    /* Change the font-family to "Lucida Grande" */
    
    font-family: "Lucida Grande";
  }

  img {
    /* Change the height to 50px */
    height: 50px;
    
    /* Change the width to 70px */
    width: 70px;
    
  }

  li {
    color: #444;
  }
  
  /* Change the color of "selected" to #ff0000 */
  .selected {
    color: #ff0000;
  }